
:root {
    --background-dark: #1f2123;
    --background-light: #343739;
    --orange-primary: #EE982B;
    --orange-brown: #D88769;
    --light-text: #a1a1a1;
}

* {
    border: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
}

body {
    background-color: #212426;
}

p {
    color: var(--orange-brown)
}

.app {
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.9px;
    background: linear-gradient(
            90deg,
            var(--orange-primary) 90%,
            rgba(249, 211, 180, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.search {
    width: 71%;
    margin: 4rem 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: var(--background-dark);
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 1rem;

    outline: none;
    color: var(--light-text);
    background: var(--background-dark);
}

.search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: var(--light-text);
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: var(--background-dark);
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h2 {
    font-size: 1.25rem;
    color: var(--orange-primary);
}

.container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 310px;
    height: 460px;
    margin: 1.5rem;

    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: var(--orange-primary);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.card div:nth-of-type(2) {
    width: 100%;
    height: 100%;
}

.card div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
}

.card div:nth-of-type(3) {
    z-index: 2;
    background-color: var(--background-light);
    padding: 16px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.card div:nth-of-type(3) span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
}

.card div:nth-of-type(3) h3 {
    margin-top: 5px;
    color: var(--orange-primary);
}

.card:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
}

.card:hover div:nth-of-type(3) {
    background-color: transparent;
}

.card:hover div:nth-of-type(1) {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}

button {
    backface-visibility: hidden;
    background-color: var(--orange-primary);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 600px) {
    .app {
        padding: 4rem 2rem;
    }

    .search {
        padding: 1rem 1.75rem;
        width: 100%;
    }

    .search input {
        font-size: 1rem;
    }

    .search img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 700px) {
    .app {
        padding: 4rem 1rem;
    }

    h1 {
        font-size: 7vw;
    }

    .container {
        margin-top: 2rem;
    }

    .card {
        width: 100%;
        margin: 1rem;
    }
}

.group {
    position: relative;
    margin-bottom: 45px;
}


input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
    max-width: 500px;
}

input:focus {
    outline: none;
}

label {
    position: absolute;

}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 15px;
    color: var(--orange-primary);
}


.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--orange-primary);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


.formContainer {
    width: 600px;
    margin: 30px auto 0;
    display: block;
    padding: 10px 50px 50px;
}

.modal {
    background-color: #212426;;
    border: 1px solid #464545;
    color: #fff;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    background: #292d3e;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

h3 {
    color: var(--orange-primary);
}

.pages {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

@media only screen and (max-width: 768px) {
    .pages {
        font-size: 2.5rem;
    }
}

.submit-input {
    cursor: pointer;
}

textarea {
    width: 500px;
    height: 150px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    font-family: Arial;
}



